<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-j-gc</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>j-gc</id>
      <filePathMask>tag:JavaApp</filePathMask>
      <fileNameMask>GCInfoJmx.out</fileNameMask>
      <priority>100</priority>
      <expression>(**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1420543648649</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.AppendingField>
          <name>keyhost</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <synthSrcField>key,host</synthSrcField>
        </com.liquidlabs.log.fields.field.AppendingField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>gcPauseMS</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>{ &quot;heatmap-numeric&quot;: &quot;500-1000&quot; }</description>
          <groupId>1</groupId>
          <expression>jep:CollectionTime</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>1000ms</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
          <value>1000</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>2000ms</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
          <value>2000</value>
        </com.liquidlabs.log.fields.field.LiteralField>
      </fields>
      <example>
        <string>Sample Data</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-j-gc-cms</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>j-gc-cms</id>
      <filePathMask>tag:JavaApp-gc</filePathMask>
      <fileNameMask>*gc*log*</fileNameMask>
      <priority>70</priority>
      <expression>(*) (*\[)\[(GC|Full GC|GC) (d)K-&gt;(d)K\((*K)K\),(**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1404130150564</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>date</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>f1</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>op</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>beforeGC</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>afterGC</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>committed</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>6</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>data</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>7</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>collectionTime</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>(*) secs</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?(\S+) secs.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.AppendingField>
          <name>id</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <synthSrcField>_filename,gen</synthSrcField>
        </com.liquidlabs.log.fields.field.AppendingField>
        <com.liquidlabs.log.fields.field.SubstringField>
          <name>application</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expressionControl>substring,,-</expressionControl>
          <synthSrcField>_filename</synthSrcField>
        </com.liquidlabs.log.fields.field.SubstringField>
        <com.liquidlabs.log.fields.field.SubstringField>
          <name>label</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expressionControl>substring,-,-</expressionControl>
          <synthSrcField>_filename</synthSrcField>
        </com.liquidlabs.log.fields.field.SubstringField>
        <com.liquidlabs.log.fields.field.AppendingField>
          <name>src</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <synthSrcField>_host,application</synthSrcField>
        </com.liquidlabs.log.fields.field.AppendingField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>1sec</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>8</groupId>
          <value>1</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>500ms</name>
          <funct>count(*)</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>9</groupId>
          <value>0.5</value>
        </com.liquidlabs.log.fields.field.LiteralField>
      </fields>
      <example>
        <string>
2013-09-13T11:08:28.978+0100: 411.582: [GC 168013K-&gt;33707K(245120K), 0.0060281 secs]</string>
        <string>2013-09-13T11:08:41.291+0100: 423.895: [GC 168805K-&gt;33381K(245120K), 0.0038089 secs]</string>
        <string>2013-09-13T11:08:54.431+0100: 437.035: [GC 168683K-&gt;33645K(245120K), 0.0039628 secs]</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-j-gc-logs</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>j-gc-logs</id>
      <filePathMask>**</filePathMask>
      <fileNameMask>*gc*log*</fileNameMask>
      <priority>60</priority>
      <expression>(*) (*\[)\[(GC|Full GC|GC) (\d+.\d+: )?[(*\:): (d)K-&gt;(d)K\((*K)K\)(**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1379084963332</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>date</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>f1</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>op</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>f2</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>gen</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>beforeGC</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>6</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>afterGC</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>7</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>committed</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>8</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>data</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>9</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>collectionTime</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>(*) secs</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?(\S+) secs.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.AppendingField>
          <name>id</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <synthSrcField>_host,application</synthSrcField>
        </com.liquidlabs.log.fields.field.AppendingField>
        <com.liquidlabs.log.fields.field.SubstringField>
          <name>application</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expressionControl>substring,,-</expressionControl>
          <synthSrcField>_filename</synthSrcField>
        </com.liquidlabs.log.fields.field.SubstringField>
        <com.liquidlabs.log.fields.field.SubstringField>
          <name>label</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expressionControl>substring,-,-</expressionControl>
          <synthSrcField>_filename</synthSrcField>
        </com.liquidlabs.log.fields.field.SubstringField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>1sec</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>10</groupId>
          <value>1</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>500ms</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>11</groupId>
          <value>0.5</value>
        </com.liquidlabs.log.fields.field.LiteralField>
      </fields>
      <example>
        <string>
2013-09-13T10:37:55.851+0100: 216.869: [GC 171139K-&gt;36886K(245120K), 0.0065031 secs]</string>
        <string>2013-09-12T16:49:25.812+0100: 6.070: [GC [PSYoungGen: 645996K-&gt;254K(651584K)] 649155K-&gt;3413K(735680K), 0.0004640 secs]moo
 [Times: user=0.00 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-13T10:38:08.039+0100: 229.058: [GC 172947K-&gt;37258K(245120K), 0.0067481 secs]</string>
        <string>2013-09-13T10:31:58.645+0100: 0.431: [GC 0.431: [ParNew: 17024K-&gt;805K(19136K), 0.0053620 secs] 17024K-&gt;805K(260032K), 0.0054230 secs] [Times: user=0.01 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-12T16:49:22.516+0100: 2.773: [GC [PSYoungGen: 252794K-&gt;220K(409472K)] 255785K-&gt;3363K(493568K), 0.0005900 secs]moo
 [Times: user=0.01 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-12T17:10:23.822+0100: 28.297: [Full GC [PSYoungGen: 32K-&gt;0K(659840K)] [ParOldGen: 161514K-&gt;10789K(174784K)] 161546K-&gt;10789K(834624K) [PSPermGen: 10165K-&gt;10162K(21248K)], 0.0146260 secs] [Times: user=0.03 sys=0.00, real=0.02 secs] </string>
        <string>2013-09-12T16:49:23.610+0100: 3.868: [GC [PSYoungGen: 403840K-&gt;300K(409536K)] 406983K-&gt;3451K(493632K), 0.0005610 secs]moo
 [Times: user=0.00 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-12T16:49:24.671+0100: 4.928: [GC [PSYoungGen: 403728K-&gt;287K(651456K)] 406879K-&gt;3446K(735552K), 0.0003330 secs]moo
 [Times: user=0.00 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-12T16:49:25.812+0100: 6.070: [GC [PSYoungGen: 645996K-&gt;254K(651584K)] 649155K-&gt;3413K(735680K), 0.0004640 secs]moo
 [Times: user=0.00 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-13T10:31:58.645+0100: 0.431: [GC 0.431: [ParNew: 17024K-&gt;805K(19136K), 0.0053620 secs] 17024K-&gt;805K(260032K), 0.0054230 secs] [Times: user=0.01 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-13T10:31:58.947+0100: 0.733: [GC 0.733: [ParNew: 17829K-&gt;2112K(19136K), 0.0099780 secs] 17829K-&gt;8369K(260032K), 0.0100330 secs] [Times: user=0.01 sys=0.01, real=0.01 secs] </string>
        <string>2013-09-13T10:31:59.381+0100: 1.167: [GC 1.167: [ParNew: 19136K-&gt;2112K(19136K), 0.0108050 secs] 25393K-&gt;9324K(260032K), 0.0108640 secs] [Times: user=0.01 sys=0.01, real=0.01 secs] </string>
        <string>2013-09-13T10:31:59.692+0100: 1.478: [GC 1.478: [ParNew: 18797K-&gt;2112K(19136K), 0.0075930 secs] 26009K-&gt;10145K(260032K), 0.0076440 secs] [Times: user=0.02 sys=0.00, real=0.01 secs] </string>
        <string>2013-09-13T10:32:01.610+0100: 3.395: [GC 3.395: [ParNew: 19136K-&gt;1216K(19136K), 0.0099010 secs] 27169K-&gt;10352K(260032K), 0.0099640 secs] [Times: user=0.02 sys=0.00, real=0.01 secs] </string>
        <string>2013-09-13T10:32:02.096+0100: 3.882: [GC 3.882: [ParNew: 18240K-&gt;2112K(19136K), 0.0040400 secs] 27376K-&gt;11312K(260032K), 0.0041150 secs] [Times: user=0.01 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-13T10:32:02.230+0100: 4.015: [GC 4.015: [ParNew: 19136K-&gt;1139K(19136K), 0.0055080 secs] 28336K-&gt;12322K(260032K), 0.0055660 secs] [Times: user=0.01 sys=0.00, real=0.01 secs] </string>
        <string>2013-09-13T10:32:02.330+0100: 4.115: [GC 4.115: [ParNew: 18163K-&gt;142K(19136K), 0.0006100 secs] 29346K-&gt;11325K(260032K), 0.0006490 secs] [Times: user=0.00 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-13T10:32:02.439+0100: 4.225: [GC 4.225: [ParNew: 17166K-&gt;129K(19136K), 0.0008470 secs] 28349K-&gt;11312K(260032K), 0.0008850 secs] [Times: user=0.01 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-13T10:32:02.616+0100: 4.402: [GC 4.402: [ParNew: 17153K-&gt;1915K(19136K), 0.0022380 secs] 28336K-&gt;13098K(260032K), 0.0023110 secs] [Times: user=0.00 sys=0.00, real=0.00 secs] 
2013-09-13T10:32:05.081+0100: 6.867: [GC 6.867: [ParNew: 18939K-&gt;2055K(19136K), 0.0073390 secs] 30122K-&gt;15742K(260032K), 0.0074370 secs] [Times: user=0.01 sys=0.00, real=0.01 secs] </string>
        <string>2013-09-13T10:32:08.299+0100: 10.085: [GC 10.085: [ParNew: 19079K-&gt;2098K(19136K), 0.0039890 secs] 32766K-&gt;17610K(260032K), 0.0040980 secs] [Times: user=0.01 sys=0.01, real=0.01 secs] </string>
        <string>2013-09-13T10:32:09.923+0100: 11.709: [GC 11.709: [ParNew: 19121K-&gt;2112K(19136K), 0.0043720 secs] 34632K-&gt;20082K(260032K), 0.0045400 secs] [Times: user=0.01 sys=0.01, real=0.00 secs] </string>
        <string>2013-09-13T10:32:10.103+0100: 11.889: [GC 11.889: [ParNew: 19131K-&gt;2112K(19136K), 0.0052970 secs] 37101K-&gt;21785K(260032K), 0.0054150 secs] [Times: user=0.01 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-13T10:32:10.256+0100: 12.042: [GC 12.042: [ParNew: 19133K-&gt;2112K(19136K), 0.0015680 secs] 38807K-&gt;22326K(260032K), 0.0016510 secs] [Times: user=0.00 sys=0.00, real=0.00 secs] </string>
        <string>2013-09-13T10:32:10.470+0100: 12.256: [GC 12.256: [ParNew: 19136K-&gt;1732K(19136K), 0.0019820 secs] 39350K-&gt;21958K(260032K), 0.0020630 secs] [Times: user=0.01 sys=0.00, real=0.00 secs] 
2013-09-13T10:32:13.293+0100: 15.079: [GC 15.079: [ParNew: 18756K-&gt;2112K(19136K), 0.0025480 secs] 38982K-&gt;22681K(260032K), 0.0026490 secs] [Times: user=0.01 sys=0.00, real=0.01 secs] </string>
        <string>2013-09-12T16:49:27.906+0100: 8.163: [GC [PSYoungGen: 646102K-&gt;159K(667136K)] 649261K-&gt;3326K(751232K), 0.0003900 secs]moo
 [Times: user=0.00 sys=0.00, real=0.00 secs]</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-j-heap</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>j-heap</id>
      <filePathMask>tag:JavaApp</filePathMask>
      <fileNameMask>HeapJmx.out,MPool*.out</fileNameMask>
      <priority>100</priority>
      <expression>(**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1420541363396</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.MvelField>
          <name>time</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expr>mvel:used/max</expr>
        </com.liquidlabs.log.fields.field.MvelField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>name</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>host</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>objectName</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>label</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>100pct</name>
          <funct>count(*)</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>6</groupId>
          <value>100</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>50pct</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>7</groupId>
          <value>50</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>usedPct</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>{ &quot;heatmap-numeric&quot;: &quot;0-100&quot; }</description>
          <groupId>8</groupId>
          <expression>jep: return used/max * 100 </expression>
        </com.liquidlabs.log.fields.field.JepField>
      </fields>
      <example>
        <string>06-Jan-2015 09:32:03 GMT	{ &quot;path&quot;: &quot;HeapMemoryUsage&quot;, &quot;committed&quot;: &quot;85000192&quot;, &quot;init&quot;: &quot;0&quot;, &quot;max&quot;: &quot;132055040&quot;, &quot;used&quot;: &quot;7741512&quot;, &quot;namespace&quot;: &quot;_.tcat&quot;, &quot;label&quot;: &quot;appserver&quot;, &quot;host&quot;: &quot;10.28.1.164&quot;, &quot;__Name&quot;: &quot;2243@AGT-LON-UBU3&quot; } </string>
        <string>06-Jan-2015 09:32:03 GMT	{ &quot;path&quot;: &quot;NonHeapMemoryUsage&quot;, &quot;committed&quot;: &quot;33697792&quot;, &quot;init&quot;: &quot;24313856&quot;, &quot;max&quot;: &quot;224395264&quot;, &quot;used&quot;: &quot;21155464&quot;, &quot;namespace&quot;: &quot;_.tcat&quot;, &quot;label&quot;: &quot;appserver&quot;, &quot;host&quot;: &quot;10.28.1.164&quot;, &quot;__Name&quot;: &quot;2243@AGT-LON-UBU3&quot; } </string>
        <string>06-Jan-2015 09:32:03 GMT	{ &quot;objectName&quot;: &quot;java.lang:type=Memory&quot;, &quot;__Name&quot;: &quot;2243@AGT-LON-UBU3&quot;, &quot;namespace&quot;: &quot;_.tcat&quot;, &quot;label&quot;: &quot;appserver&quot;, &quot;host&quot;: &quot;10.28.1.164&quot; } </string>
        <string>06-Jan-2015 09:32:03 GMT	{ &quot;path&quot;: &quot;HeapMemoryUsage&quot;, &quot;committed&quot;: &quot;132055040&quot;, &quot;init&quot;: &quot;134217728&quot;, &quot;max&quot;: &quot;132055040&quot;, &quot;used&quot;: &quot;10720368&quot;, &quot;namespace&quot;: &quot;_.logscape&quot;, &quot;label&quot;: &quot;ll_&quot;, &quot;host&quot;: &quot;10.28.1.164&quot;, &quot;__Name&quot;: &quot;27464@AGT-LON-UBU3&quot; } </string>
        <string>06-Jan-2015 09:32:03 GMT	{ &quot;path&quot;: &quot;NonHeapMemoryUsage&quot;, &quot;committed&quot;: &quot;24313856&quot;, &quot;init&quot;: &quot;24313856&quot;, &quot;max&quot;: &quot;184549376&quot;, &quot;used&quot;: &quot;14525008&quot;, &quot;namespace&quot;: &quot;_.logscape&quot;, &quot;label&quot;: &quot;ll_&quot;, &quot;host&quot;: &quot;10.28.1.164&quot;, &quot;__Name&quot;: &quot;27464@AGT-LON-UBU3&quot; } </string>
        <string>06-Jan-2015 09:32:03 GMT	{ &quot;objectName&quot;: &quot;java.lang:type=Memory&quot;, &quot;__Name&quot;: &quot;27464@AGT-LON-UBU3&quot;, &quot;namespace&quot;: &quot;_.logscape&quot;, &quot;label&quot;: &quot;ll_&quot;, &quot;host&quot;: &quot;10.28.1.164&quot; } </string>
        <string>06-Jan-2015 09:32:03 GMT	{ &quot;path&quot;: &quot;HeapMemoryUsage&quot;, &quot;committed&quot;: &quot;21361459200&quot;, &quot;init&quot;: &quot;21474836480&quot;, &quot;max&quot;: &quot;21361459200&quot;, &quot;used&quot;: &quot;9347125560&quot;, &quot;namespace&quot;: &quot;_.logscape&quot;, &quot;label&quot;: &quot;ll_&quot;, &quot;host&quot;: &quot;10.28.1.159&quot;, &quot;__Name&quot;: &quot;4298@deathstar&quot; }</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-j-open</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>j-open</id>
      <filePathMask>./work/JavaApp-1.0</filePathMask>
      <fileNameMask>openfiles.out</fileNameMask>
      <priority>100</priority>
      <expression>(* *)\s+(**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1375116148176</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>timestamp</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>data</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>name</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>name: &quot;(*)&quot;</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?name: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>MaxFiles</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>MaxFileDescriptorCount: &quot;(*)&quot;</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?MaxFileDescriptorCount: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>SwapFree</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>FreeSwapSpaceSize: &quot;(*)&quot;</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?FreeSwapSpaceSize: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>OpenFiles</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>OpenFileDescriptorCount: &quot;(*)&quot;</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?OpenFileDescriptorCount: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>SwapFreeMB</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>3</groupId>
          <expression>jep:SwapFree/(1024*1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>connection</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>host: &quot;(*)&quot;</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?host: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.MvelField>
          <name>src</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>4</groupId>
          <expr>mvel:label+&quot;_&quot;+connection</expr>
        </com.liquidlabs.log.fields.field.MvelField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>label</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>label: &quot;(*)&quot;</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?label: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>NewField</name>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.MvelField>
          <name>testKVField</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>6</groupId>
          <expr>mvel:&quot;&quot; + $objectName+&quot;&quot;</expr>
        </com.liquidlabs.log.fields.field.MvelField>
      </fields>
      <example>
        <string>14-May-13 11:05:08	name: &quot;MaxFileDescriptorCount&quot;, MaxFileDescriptorCount: &quot;50000&quot;, host: &quot;10.28.1.160:8989&quot;, objectName:&quot;java.lang:type=OperatingSystem&quot;,label: &quot;ll_&quot;</string>
        <string>14-May-13 11:05:08	name: &quot;FreeSwapSpaceSize&quot;, FreeSwapSpaceSize: &quot;646819840&quot;, host: &quot;10.28.1.160:8989&quot;, objectName:&quot;java.lang:type=OperatingSystem&quot;,label: &quot;ll_&quot;</string>
        <string>14-May-13 11:05:08	name: &quot;OpenFileDescriptorCount&quot;, OpenFileDescriptorCount: &quot;8579&quot;, host: &quot;10.28.1.150:8989&quot;, objectName:&quot;java.lang:type=OperatingSystem&quot;,label: &quot;ll_&quot;</string>
        <string>14-May-13 11:05:08	name: &quot;MaxFileDescriptorCount&quot;, MaxFileDescriptorCount: &quot;10000&quot;, host: &quot;10.28.1.150:8989&quot;, objectName:&quot;java.lang:type=OperatingSystem&quot;,label: &quot;ll_&quot;</string>
        <string>14-May-13 11:05:08	name: &quot;FreeSwapSpaceSize&quot;, FreeSwapSpaceSize: &quot;6527889408&quot;, host: &quot;10.28.1.150:8989&quot;, objectName:&quot;java.lang:type=OperatingSystem&quot;,label: &quot;ll_&quot;</string>
        <string>14-May-13 11:05:08	name: &quot;OpenFileDescriptorCount&quot;, OpenFileDescriptorCount: &quot;941&quot;, host: &quot;10.28.1.160:8989&quot;, objectName:&quot;java.lang:type=OperatingSystem&quot;,label: &quot;ll_&quot;</string>
        <string>14-May-13 11:05:08	name: &quot;MaxFileDescriptorCount&quot;, MaxFileDescriptorCount: &quot;50000&quot;, host: &quot;10.28.1.160:8989&quot;, objectName:&quot;java.lang:type=OperatingSystem&quot;,label: &quot;ll_&quot;
</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-j-os</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>j-os</id>
      <filePathMask>./work/JavaApp-1.0/*</filePathMask>
      <fileNameMask>*.out,!Heap</fileNameMask>
      <priority>50</priority>
      <expression>(**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1403878217860</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>NewField</name>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>100pct</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>2</groupId>
          <value>100</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>50pct</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>3</groupId>
          <value>50</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>100util</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>4</groupId>
          <value>1.0</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>50util</name>
          <funct>count(*)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>5</groupId>
          <value>0.5</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>filecount</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>{ &quot;heatmap-numeric&quot;: &quot;500-10000&quot; }</description>
          <groupId>6</groupId>
          <expression>jep:OpenFileDescriptorCount</expression>
        </com.liquidlabs.log.fields.field.JepField>
      </fields>
      <example>
        <string>
27-Jun-2014 15:02:10 BST	{ &quot;objectName&quot;: &quot;java.lang:type=Threading&quot;, &quot;ThreadCount&quot;: &quot;113&quot;, &quot;DaemonThreadCount&quot;: &quot;110&quot;, &quot;__Name&quot;: &quot;29601@AGT-LON-UBU3&quot;, &quot;namespace&quot;: &quot;_.logscape&quot;, &quot;label&quot;: &quot;ll_&quot;, &quot;host&quot;: &quot;10.28.1.164&quot; } </string>
        <string>27-Jun-2014 15:01:55 BST	{ &quot;objectName&quot;: &quot;java.lang:type=OperatingSystem&quot;, &quot;OpenFileDescriptorCount&quot;: &quot;50&quot;, &quot;MaxFileDescriptorCount&quot;: &quot;4096&quot;, &quot;FreeSwapSpaceSize&quot;: &quot;1081061376&quot;, &quot;__Name&quot;: &quot;1776@AGT-LON-UBU3&quot;, &quot;namespace&quot;: &quot;_.tomcat&quot;, &quot;label&quot;: &quot;appserver&quot;, &quot;host&quot;: &quot;10.28.1.164&quot; } 
</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-j-threads</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>j-threads</id>
      <filePathMask>tag:JavaApp</filePathMask>
      <fileNameMask>ThreadInfoJmx.out</fileNameMask>
      <priority>100</priority>
      <expression>(* *)(**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1420541351645</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>date</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>data</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>name</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>.*?name: &quot;(\S+)&quot;.*</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?name: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>maxThreadCount</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>.*?PeakThreadCount: &quot;(\S+)&quot;.*</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?PeakThreadCount: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>DaemonThreadCount</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>DaemonThreadCount: \&quot;(*\&quot;)</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?DaemonThreadCount: \&quot;([^\&quot;]+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>connection</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>.*?host: &quot;(\S+)&quot;.*</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?host: &quot;(\S+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>label</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression>.*?label: &quot;([A-Za-z\ 0-9\_]+)&quot;.*</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?label: &quot;([A-Za-z\ 0-9\_]+)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>usedMB</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>3</groupId>
          <expression>jep:used/(1024*1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.MvelField>
          <name>src</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>4</groupId>
          <expr>mvel:label</expr>
        </com.liquidlabs.log.fields.field.MvelField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>committedMB</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <groupId>5</groupId>
          <expression>jep:committed/(1024*1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>threadCount</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>1</groupId>
          <expression> ThreadCount: \&quot;(*\&quot;)</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*? ThreadCount: \&quot;([^\&quot;]+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
      </fields>
      <example>
        <string>23-Apr-13 00:00:05	name: &quot;PeakThreadCount&quot;, PeakThreadCount: &quot;3389&quot;, host: &quot;10.28.1.150:8989&quot;,label: &quot;ll_&quot;</string>
        <string>23-Apr-13 00:00:05	name: &quot;DaemonThreadCount&quot;, DaemonThreadCount: &quot;2911&quot;, host: &quot;10.28.1.150:8989&quot;,label: &quot;ll_&quot;</string>
        <string>23-Apr-13 00:00:05	name: &quot;ThreadCount&quot;, ThreadCount: &quot;2924&quot;, host: &quot;10.28.1.150:8989&quot;,label: &quot;ll_&quot;</string>
        <string>23-Apr-13 00:00:05	name: &quot;PeakThreadCount&quot;, PeakThreadCount: &quot;325&quot;, host: &quot;10.28.1.160:8989&quot;,label: &quot;ll_&quot;</string>
        <string>23-Apr-13 00:00:05	name: &quot;DaemonThreadCount&quot;, DaemonThreadCount: &quot;296&quot;, host: &quot;10.28.1.160:8989&quot;,label: &quot;ll_&quot;</string>
        <string>23-Apr-13 00:00:05	name: &quot;ThreadCount&quot;, ThreadCount: &quot;309&quot;, host: &quot;10.28.1.160:8989&quot;,label: &quot;ll_&quot;</string>
        <string>23-Apr-13 00:00:05	name: &quot;PeakThreadCount&quot;, PeakThreadCount: &quot;3389&quot;, host: &quot;10.28.1.150:8989&quot;,label: &quot;ll_&quot;</string>
        <string>23-Apr-13 00:00:05	name: &quot;DaemonThreadCount&quot;, DaemonThreadCount: &quot;2911&quot;, host: &quot;10.28.1.150:8989&quot;,label: &quot;ll_&quot;</string>
        <string>23-Apr-13 00:00:05	name: &quot;ThreadCount&quot;, ThreadCount: &quot;2924&quot;, host: &quot;10.28.1.150:8989&quot;,label: &quot;ll_&quot;</string>
        <string>19-Apr-13 14:01:04	name: &quot;HeapMemoryUsage&quot;, committed: &quot;62259200&quot;, init: &quot;64935936&quot;, max: &quot;924647424&quot;, used: &quot;17988968&quot;, host: &quot;10.28.1.160:7020&quot;,label: &quot;Dept C&quot;</string>
        <string>19-Apr-13 14:11:04	name: &quot;NonHeapMemoryUsage&quot;, committed: &quot;146866176&quot;, init: &quot;19136512&quot;, max: &quot;184549376&quot;, used: &quot;104956088&quot;, host: &quot;10.28.1.150:8989&quot;,label: &quot;ll_&quot;</string>
        <string>19-Apr-13 14:11:04	name: &quot;HeapMemoryUsage&quot;, committed: &quot;65470464&quot;, init: &quot;0&quot;, max: &quot;132579328&quot;, used: &quot;16583080&quot;, host: &quot;10.28.1.162:16332&quot;,</string>
        <string>19-Apr-13 14:11:04	name: &quot;NonHeapMemoryUsage&quot;, committed: &quot;27176960&quot;, init: &quot;19136512&quot;, max: &quot;117440512&quot;, used: &quot;17505208&quot;, host: &quot;10.28.1.162:16332&quot;,</string>
        <string>19-Apr-13 14:11:04	name: &quot;HeapMemoryUsage&quot;, committed: &quot;65470464&quot;, init: &quot;0&quot;, max: &quot;132579328&quot;, used: &quot;16611704&quot;, host: &quot;10.28.1.162:16332&quot;,</string>
        <string>19-Apr-13 14:11:04	name: &quot;NonHeapMemoryUsage&quot;, committed: &quot;27176960&quot;, init: &quot;19136512&quot;, max: &quot;117440512&quot;, used: &quot;17505208&quot;, host: &quot;10.28.1.162:16332&quot;,</string>
        <string>19-Apr-13 14:11:04	name: &quot;HeapMemoryUsage&quot;, committed: &quot;62062592&quot;, init: &quot;64935936&quot;, max: &quot;924647424&quot;, used: &quot;8395008&quot;, host: &quot;10.28.1.160:7020&quot;,label: &quot;Dept C&quot;</string>
        <string>19-Apr-13 14:11:04	name: &quot;NonHeapMemoryUsage&quot;, committed: &quot;24313856&quot;, init: &quot;24313856&quot;, max: &quot;224395264&quot;, used: &quot;17873168&quot;, host: &quot;10.28.1.160:7020&quot;,label: &quot;Dept C&quot;</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->